body {
	background-color: #F9F9F9;
	font-family: 'Dosis', sans-serif;
}
/*top navigationen (den blå)*/
#topnav {
	width: 100%;
	height: 90px;
	background-color: #1E3140;
}

/*stylar logo bilden*/
#topnav img {
	margin-top: -17px;
	margin-right: 5px;
	width: 50px;
	height: auto;
}

/*stylar logo texten*/
#topnav p {
	font-family: 'Vibur', cursive;
	color: #ffffff;
	font-size: 30px;
	margin-top: 27px;
}

/*stylar top navigationen*/
#topnav ul {
	list-style-type: none;
	float: right;
	padding: 0;
	margin: 0;
	margin-top: 37px;
}

/*stylar länkarna i top navigationen*/
#topnav a {
	color: #DDCDB3;
}

/*stylar top navigationen*/
#topnav ul li {
	font-weight: 600;
	float: left;
	margin-right: 58px;
	font-size: 15px;
}

/*tar bort margin på sista i top menyn*/
#topnav ul li:last-child {
	margin-right: 0;
}

/*kategori navigationen*/
#bottomnav {
	width: 100%;
	height: 35px;
	background-color: #DDCDB3;
}

/*stylar kategorinavigationen*/
#bottomnav ul {
	margin-top: 8px;
}

/*stylar länkarna i kategorinavigationen*/
#bottomnav a {
	color: #000000;
}

/*class som centrerar containers*/
.col-centered{
    float: none;
    margin: 0 auto;
}

/*stylar kategorinavigationen*/
#bottomnav ul li {
	list-style: none;
	float: left;
	margin-right: 129px;
	font-weight: 700;
	font-size: 15px;
}

/*tar bort margin right på sista i bottomnaven*/
#bottomnav ul li:last-child {
	margin-right: 0;
}

/*bild eller slider*/
#screenimg {
	background-color: gray;
	width: 100%;
	height: 500px;
	overflow: hidden;
}

/*bild*/
#screenimg img {
	width: 100%;
	margin-top: -550px;
}

#screenimg h1 {
	color: #ffffff;
	font-size: 74px;
	position: absolute;
	font-weight: 300;
	margin-top: 180px;
}

/*stylar helskärmsbilden*/
#screenimg img {
	width: 100%;
	margin-top: -300px;
}


/*stylar content sektionen*/
#content {
	padding-top: 80px;
	min-height: 600px;
}


#content p {
	margin-top: 15px;
	line-height: 25px;
	font-size: 16px;
	font-weight: 400;
}

/*footer*/
#footer {
	width: 100%;
	height: 130px;
	height: 250px;
	background-color: #1E3140;
	color: #DDCDB3;
}

/*sticky footer bootstrap*/
.footer {
	bottom: 0;
	position: relative;
}

/*stylar footer navigationen*/
#footer ul {
	margin-top: 115px;
}

/*stylar footer navigationen*/
#footer ul li {
	float: left;
	margin-right: 114px;
	font-size: 15px;
	list-style-type: none;
}

/*stylar footer navigationen*/
#footer ul li:last-child {
	margin-right: 0;
}

/*stylar footer navigationen*/
#footer ul li a {
	color: #DDCDB3;
}

/*stylar text i footer*/
#footer p {
	text-align: center;
	margin-top: 80px;
}

/*paypal diven*/
#paypal {
	margin: 0;
	padding: 0;
	margin-top: -140px;
}

/*paypal text*/
#paypal p {
	font-size: 17px;
}

/*paypal bild*/
#footer img {
	width: 210px;
	height: auto;
	padding: 0;
	margin: 0;
}

/*centrerar text i footer menyn*/
#footermenu {
	text-align: center;
}

/*overlay som täcker över helskärmsbilderna*/
#overlay {
	width: 100%;
	height: 500px;
	background-color: #000000;
	opacity: 0.4;
	position: absolute;
/*linje till logga in / medlem*/
}
.verticalLine {
    border-left: solid #505050;
    margin-right: 1000px;
}